rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

		// match docs in user collection
		match /users/{userId} {
    	allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    // rooms collection
    match /rooms/{room=**} {
      allow read;
      // do not allow any front end app to write to rooms
      allow write;
    }

    match /games/{gameId} {
      allow read;
      // ensure path ref is users/
      allow update: if isAuthenticated() && request.resource.data.host.path.split('/') == ['users', request.auth.uid];
    }

    function isAuthenticated() {
    	return request.auth != null;
    }

  }
}
