.game__screen__waiting
  display: flex
  justify-content: center
  align-items: center
  height: 100%

  &__inner
    text-align: center

    p
      color: #fff
      margin-bottom: 25px

  &__heading
    font-size: 1.8em
    font-weight: bold

  &__subtext
    font-size: 1em
